.header{
	display: flex;
	justify-content: center;
}
.allShop{
	display: flex;
	justify-content: center;
	text-align: center;
}
.allShop button{
	margin:15px;
	width: 60px;
	height: 40px;
	display: flex;
	justify-content: center;
}
.infoShops{
	display: flex;
	justify-content: center;
	text-align: center;
}
.shop{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-family: sans-serif;
}

