.change{
	display: flex;
	flex-direction: row;
	margin:10px;
}
.zhir{
	margin:5px;
	background: grey;
	color:white;
	font-family:sans-serif;
	font-size: 20px;
}
.kursiv{
	margin:5px;
	background: grey;
	color:white;
	font-family:sans-serif;
	font-size: 20px;
}
.podcherk{
	margin:5px;
	background: grey;
	color:white;
	font-family:sans-serif;
	font-size: 20px;
}
.div{
	width:400px;
	height: 400px;
	border: 2px solid black;
}
.fontSize{
	width:60px;
	margin:5px;
	height: 20px;
}
.fontFamily{
	height:20px;
	margin:5px;
}
.shrift{
	display: flex;
	flex-direction: row;
	margin:10px;
}